<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br>
            <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
            <br>
        </div>

        <div class="col-sm-8">
            <br>
            <a href="#!admin/product/create" class="btn btn-success float-right">Dodaj produkt</a>
            <br>
        </div>
    </div>

    <div ng-controller="products">
        <div class="alert alert-info" ng-repeat="product in products | filter : search">
            <span class="text-capitalize"> nazwa : {{product.name}}</span> <br>
            waga : {{product.weight}} <br>
            opis :  {{product.description}} <br>
            cena : {{product.price | number:2}} zł / kg
            <br>
            <a href="#!admin/product/edit" ng-click="getProduct(product.id)" class="btn btn-primary">Edytuj</a>
            <button ng-click="delete(product,product.id,$index)" class="btn btn-danger">Usuń produkt</button>
        </div>
    </div>
</div>