<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br>
            <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
            <br>
        </div>

        <div class="col-sm-8 text-right">
            <br>
            <br>
        </div>
    </div>

    <div ng-controller="users" class="row">
        <div class="col-sm-12">

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Imie</th>
                    <th>Email</th>
                    <th>Rola</th>
                    <th></th>
                    <th></th>

                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in users | filter : search">
                    <td>{{user.name}}</td>
                    <td>{{user.username}}</td>
<!--                    <td>-->
<!--                        <table>-->
<!--                            <tr ng-repeat="role in roles">-->
<!--                                <tbody>-->
<!--                                    <td>{{role.name}}</td>-->
<!--                                </tbody>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </td>-->
                    <td>
                        <ul ng-repeat="role in user.roles">
                            <li>
                                {{role.name}}
                            </li>
                        </ul>
                    </td>
                    <td> <a href="#!admin/user/edit/{{$index}}" ng-click="getUser(user.id)" class="btn btn-primary">Edytuj</a></td>
                    <td><button ng-click="delete(user, user.id, $index)" class="btn btn-danger">Usuń użytkownika</button></td>
                </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>