<form ng-submit="">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <br>
                <div class="form-group">
                    <label>Stara nazwa użytkownika: </label>
                        <label>{{user.name}}</label> <br>
                    <input type="text" class="form-control" ng-model="newUser.name" placeholder="{{user.name}}">
                </div>

                <div class="form-group">
                    <label>Stary mail użytkownika: </label>
                    <label>{{user.username}}</label> <br>
                    <input type="text" class="form-control" ng-model="newUser.username" placeholder="{{user.username}}">
                </div>


                <div class="form-group">
                    <label>Nowe Hasło:</label>
                    <input type="password" class="form-control" ng-model="newUser.password">
                </div>

                <div class="form-group">
                    <label>Powtórz Hasło:</label>
                    <input type="password" class="form-control" ng-model="newUser.passconf">
                </div>

                <div class="form-group">
                    <label>Rola</label>
                    <ul ng-repeat="role in user.roles">
                        <li>
                            {{role.name}}
                        </li>
                    </ul>

                    <select class="form-control" ng-model = "user.roles">
                        <option value="user">admin</option>
                        <option value="admin">użytkownik</option>
                    </select>
                </div>

                <br>
            </div>

            <div class="col-sm-6">

            </div>

            <hr>

            <div class="row">
                <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary">
                        Zapisz zmiany
                    </button>


                    <a ng-href="#!/admin/users">Wróć bez zmian</a>
                    <p>&nbsp;&nbsp;</p>
                </div>
            </div>

        </div>
    </div>
</form>