<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <br>
            <input type="text" class="form-control" placeholder="szukaj..." ng-model="search">
            <br>
        </div>

        <div class="col-sm-4 text-right">
            <br>
            <a href="#!product/create" class="btn btn-success">Dodaj produkt</a>
            <br>
        </div>
    </div>

    <div ng-controller="products">
        <div class="alert alert-info" ng-repeat="product in products | filter : search">
            <span class="text-capitalize"> nazwa : {{product.nazwa}}</span> <br>
            waga : {{product.waga}} <br>
            opis :  {{product.opis}} <br>
            cena : {{product.cena | number:2}} zł / kg
            <br>
            <a href="#!product/edit/{{$index}}" class="btn btn-primary">Edytuj</a>
            <button ng-click="delete(product,$index)" class="btn btn-danger">Usuń produkt</button>
        </div>
    </div>
</div>