<div class="container">
    <div class="row">
        <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <br>
                <div class="card">
                    <article class="card-body">
                        <a href="#!register" class="float-right btn btn-outline-primary">Zarejestruj się</a>
                        <h4 class="card-title mb-4 mt-1">Logowanie</h4>
                        <form ng-submit="formSubmit()">

                            <div class="form-group">
                                <alert ng-if="!errors.login" class="alert alert-danger">Błędne Login lub hasło</alert>
                            </div>
                            <div class="form-group">
                                <label>Email</label>
                                <input name="" class="form-control" placeholder="Email" type="email" ng-model="input.email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <label>Twoje hasło</label>
                                <input class="form-control" placeholder="******" type="password" ng-model="input.password">
                            </div> <!-- form-group// -->

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Zaloguj  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        <div class="col-sm-3"></div>
    </div>
</div>