<div class="container">
    <div class="row">
        <div class="col-sm-4">
        </div>
    </div>

        <div class="row">
            <div class="col-sm-4">
            </div>
        </div>

        <div ng-controller="orders" class="row">
            <div class="col-sm-12">

                <br>
<!--                <div ng-if = "$scope.cartList == null">-->
<!--                    <h2>Nie złożyłeś żadnych zamówień...</h2>-->
<!--                </div>-->

                <h2>Twoje zamówienia:</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Koszyk</th>
                        <th>Do zapłaty</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="order in orderList | filter : search">
                        <td>
                            <a href="#!order" ng-click="getOrderId(order.id)" class="btn btn-primary btn-sm">Szczegóły koszyka..</a>
                            </td>
                        <td>{{order.total | number:2}} zł</td>
                        <td><button ng-if="order.status == false"class="btn btn-warning btn-sm">Oczekuje</button>
                            <button ng-if="order.status == true" class="btn btn-success btn-sm" disabled>Zrealizowane</button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
