
    <div class="container">
        <div class="row">

            <div class="col-sm-12">
                <br>
                <h2>Nazwa produktu:{{product.name}} </h2>
                <span class="label label-warning float-right">Cena produktu: {{product.price | number : 2 }} zł</span></h2>

                <h2>Waga produktu: {{product.weight}}</h2>
                <h2>Opis produktu: {{product.description}}</h2>


                <a ng-href="#!/products">Powrót</a>
                <button ng-click="addToCart(product)" class="btn btn-primary">Dodaj do koszyka</button>
            </div>
        </div>
    </div>
